.UEWPbtnMiddle {
width:150px;}

.UEWPbtnNormal {
width:80px;}

.hidden {
display:none;
}
.templateContainer {
}
body {
line-height:1.0 !important;
}
 .pager span {
            color: #009900;
            font-weight: bold;
            font-size: 12pt;
            text-decoration: underline;
        }